
/*    All    */

.App {
  text-align: center;
}


.vars {
  --x-offset:20px;
  --y-offset:20px;
  --blur:20px;
  --color:blue;
}


/*    /All    */


/*    NavBar    */
#header {
position: fixed;
  display:flex;
  flex-direction: row;
  width:80%;
  padding:0px 10%;
  background-color: rgb(55, 205, 255);
  align-content: space-between;
  transition: all ease-in-out 0.3s;
  align-items: center;
  border-bottom: none;
  border-color:gray;
  border-width:1px;
  font-family: Open Sans,Helvetica Neue,Arial,sans-serif;
  color:rgba(230, 230, 230, 0.8);
}

.nav-title {
  font-size: 25px;
  font-weight: 700;
  transition:all ease-in-out 0.2;

} .nav-title:hover {
  color:rgb(150, 150, 150);
  cursor: pointer;
}
.nav-link {
  margin-left: auto;
  font-size: 20px;
  transition:all ease-in-out 0.2;
} .nav-link:hover {
  color:rgb(150, 150, 150);
  cursor: pointer;
}
@media screen and (max-width:400px){
  #header {
    flex-direction: column;
    align-content: center;
  }
  .nav-link{
    margin-left:unset;
  }
}


/*    /NavBar    */

/*    Home    */
.main-div {
  position: relative;
  width:100%;
  height: 11vh;
  
}


/*    /Home    */


/*    Footer    */



/*    Footer    */


