/*    All    */

.App {
  text-align: center;
  color:black;
}

/*    /All    */

.display-div {
  height: 100vh;
  width: 70%;
  background-color: lightblue;
  display:flex;
  justify-content: center;
  align-items: center;
}

.main-div {
  display: flex;
}

#display {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.slidecontainer {
  width: 30%;
  height: 100%;
}
.color-input {
  padding:10px;
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.copy-div {
  width:100%;
  height: 30%;
}
.slides {
  width:100%;
  margin-top:50%;
  overflow: hidden;
}
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #000000;
  cursor: pointer;
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #000000;
  cursor: pointer;
  border-radius: 20px;
}